.navbar__barContent {
  height: 54px;
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
}
.navbar_logo {
  margin-top: 10px;
  cursor: pointer;
}
.navbar__img {
  margin: 15px 10px;
  cursor: pointer;
}
.navbar__img__container {
  display: flex;
}
.navbar__searchBar {
  height: 20px;
  width: 100%;
  max-width: 300px;
  margin: auto;
  /* border: 1px solid #dbdbdb; */
  text-align: center;
  background-color: #fafafa;
  border-radius: 5px;
}

.css-1kpdewa-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 0px !important;
  margin-top: 9px !important;
  font-size: 14px;
  outline: none;
}
@media screen and (max-width: 767px) {
  .navbar__searchBar__container {
    display: none;
  }
  .navbar__img__container {
    margin-left: '-40px';
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__content {
  display: block;
  position: absolute;
  left: -120px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* padding: 12px 16px; */
  z-index: 1;
  border-radius: 6px;
  margin-top: -4px;
  top: 57px;
}
.navbar__avatar {
  position: relative;
}

.navbar__number__noti {
  position: absolute;
  border-radius: 32%;
  background-color: red;
  padding: 1px 8px;
  color: white;
  left: 24px;
  top: 3px;
  font-size: 14px;
}
.dropdown__component {
  align-items: center;
  /* display: inline!important; */
  margin: 0px auto;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  justify-content: flex-start;
  padding: 12px 16px 0px;
  cursor: pointer;
}
.dropdown__component:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}

.dropdown__component:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.dropdown__component:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 10px 16px;
  border-top: 1px solid #b9b9bf;
}

/* .dropdown:hover .dropdown-content {
  display: block;
} */

.search__dropdown_item {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  cursor: pointer;
}
.search__dropdown_item:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}
.search__dropdown_item_avatar {
  margin-right: 10px;
}

.search__dropdown_item_username {
  margin: 0;
  font-weight: bold;
}

.search__dropdown_item_fullname {
  color: rgba(var(--f52, 142, 142, 142), 1);
  margin: 0;
}

/* notification */

.dropdown__content__noti {
  display: block;
  position: absolute;
  left: -300px;
  background-color: #f9f9f9;
  min-width: 430px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
  border-radius: 6px;
  margin-top: -4px;
  width: 100%;
  top: 58px;
  overflow-y: auto;
  height: 400px;
  overflow-x: clip;
}

.noti__component {
  display: flex;
  justify-content: start;
  align-items: center;
  /* display: inline!important; */
  margin: 0px auto;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  justify-content: flex-start;
  padding: 12px 16px;
  cursor: pointer;
  border-bottom: 1px solid #bdbdbd;
}

.noti__component:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.noti__component:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  /* border-bottom: none; */
}
.dropdown__diamond {
  background: #fff;
  bottom: -6px;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
  height: 14px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
  top: 46px;
  left: 14px;
}
.btn_accept {
  background-color: #0095f6;
  border: 1px solid transparent;
  color: white;
  border-radius: 4px;
  color: #fff;
  padding: 4px;
  font-size: 14px;
  margin-left: auto;
  cursor: pointer;
}
